.share {
  /* width: 100%; */

  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.shareWrapper {
  width: 100%;
  max-width: 1000px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.shareTop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.shareProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.shareInputTitle,
.shareInput {
  border: none;
  width: 500px;
  padding-top: 15px;
  padding-left: 20px;
}

.shareHr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #f0f2f5;
}

.shareBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #f0f2f5;
}

.shareOptions {
  display: flex;
  margin-left: 20px;
  align-items: center;
}

.shareOption {
  display: flex;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.shareIcon {
  font-size: 18px;
  margin-right: 3px;
}

.shareOptionText {
  font-size: 14px;
  font-weight: 500;
  margin-left: 5px;
}

.shareButton {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: green;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  outline: none;
  font-weight: bold;
}

.post {
  width: 1000px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  position: relative;
}

.postWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-width: auto;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.postTop {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.postProfileImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.postTitle {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
}

.postContent {
  font-size: 16px;
  width: 100%;
}

.postActions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.postButtonEdit,
.postButtonDelete,
.postButtonSaveLater,
.postButtonSave,
.postButtonCancelEdit {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.postpostLikeButton {
  border: none;
  padding: 8px 12px;

  margin-right: 5px;
  cursor: pointer;
}

.postButtonEdit {
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.postButtonSave {
  background-color: rgb(83, 156, 128);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.postButtonCancelEdit {
  background-color: rgb(199, 74, 74);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.postButtonDelete {
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.postButtonSaveLater {
  background-color: #888;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.postLikeButton {
  background-color: #14e648;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.postDate {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 12px;
  color: #888;
}

.postAuthor {
  font-size: 14px;
  color: rgba(199, 194, 194, 0.6);
  margin-left: 10px;
}